* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* HEADER */

.app__header {
  background: linear-gradient(120.89deg, #512da8 -42.01%, #673ab7 84.23%);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  color: #fff;
  display: flex;
  padding-left: 43px;
  height: 150px;
  align-items: center;
}

.app__image {
  width: 90px;
  filter: invert(1); /* COLOR WHITE SVG */
}

.app__title {
  font-size: 4.3rem;
  margin-left: 13px;
}

/* SIDEBAR */

.app__sidebar {
  position: sticky;
  top: 20px;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  width: 370px;
  background: linear-gradient(120.89deg, #512da8 -42.01%, #673ab7 84.23%);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

.app__form-list {
  list-style-type: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.app__form-item {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.app__form-item:last-child {
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.app__form > fieldset {
  border: none;
  background-color: white;
  width: 100%;
  padding-bottom: 5px;
  margin-top: 50px;
}

.app__form legend {
  color: #fff;
  letter-spacing: 0.05em;
  font-size: 1.4rem;
  position: absolute;
  top: 9px;
  left: 50%;
  transform: translateX(-50%);
}

.app__form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.app__form-item > label {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.05em;
}

.app__form-item [type="text"],
[type="number"] {
  border: none;
  border-bottom: 2px solid #6036b3;
  height: 30px;
}

.app__form [type="text"]:focus,
[type="number"]:focus {
  outline: none;
}

.app__form button {
  margin-top: 26px;
  height: 55px;
  border: none;
  width: 90%;
  background-color: #673ab7;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.05em;
  cursor: pointer;
}

/* CHECKBOX */

.app__form [type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  outline: 2px solid #6036b3;
  cursor: pointer;
}

.app__form [type="checkbox"]::before {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  background-size: contain;
}

.app__form [type="checkbox"]:checked {
  background-color: #6036b3;
}

.app__form [type="checkbox"]:checked::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

/* SECTION INFO BOOKS */

.app__list-books {
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
}

.app__books-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.app__book-total h3 {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  font-weight: 400;
}

.app__book-total p {
  margin-top: -10px;
  font-weight: 700;
  font-size: 2rem;
}

/* BOOKS */

.app__body {
  padding: 15px;
  display: grid;
  grid-template-columns: 385px auto;
}

.app__books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  grid-auto-rows: minmax(400px, 400px);
}

.app__book {
  border: 2px solid #6036b3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.app__book img {
  width: 30px;
  cursor: pointer;
}
